body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #000;
}

header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
}

header button {
    font-size: 20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
}

nav {
    background-color: #34495e;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.card {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    border-radius: 6px;
}

.card img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}

h2 {
    color: #2c3e50;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    background-color: #2c3e50;
    color: white;
    border: none;
    padding: 8px;
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Faculty */
.faculty-box {
    text-align: center;
    border: 1px solid #ddd;
    padding: 15px;
    margin-top: 15px;
    border-radius: 6px;
}

.faculty-box img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

/* Dark Mode */
.dark {
    background-color: #121212;
    color: white;
    
}

.dark .card {
    background-color: #1e1e1e;
}

.dark header,
.dark nav,
.dark footer {
    background-color: #000;
}

.dark .faculty-box {
    border-color: #444;
}